<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopee Fake</title>

</head>

<body>
    {{#if showHeader}}
    <header>
        {{>header}}
    </header>
    {{/if}}

    {{{body}}}

    {{#if showFooter}}
    <footer>
        {{>footer}}
    </footer>
    {{/if}}
    <!-- script js -->

</body>

</html>